body{
    font-family: 'Segoe UI';
    background: linear-gradient(30deg,teal,skyblue,lightblue,lightpink,pink);
    width: 100%;
    margin: 0px;
}
.tiles{
    width: 350px;
    height: auto;
}
.tiles>button{
    padding: 0px;
    height: 100px;
    width: 100px;
    color: tomato;
    font-size: 50px;
    border: 0px;
}
.tiles>button:hover{
    background-color: teal;
}
.user>input[type="text"]{
    padding: 5px;
    font-size: 15px;
    color: black;
    border: solid teal;
    border-radius: 10px; 
    background-color: transparent;
    font-weight: bolder;
}
#b1{
    background-color: teal;
    border: solid transparent;
    border-radius: 25px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 35px;
}
#b2{
    background-color: teal;
    border: solid transparent;
    border-radius: 30px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 35px;
}
#b3{
    background-color: teal;
    border: solid transparent;
    border-radius: 30px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 35px;

}
#b4{
    background-color: teal;
    border: solid transparent;
    border-radius: 25px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    width: 35px;

}
#b1:hover{
    color: orange;
}
#b2:hover{
    color: orange;
}
#b3:hover{
    color: orange;
}
#b4:hover{
    color: orange;
}
#turn1{
    background-color: teal;
    border: solid transparent;
    font-weight: bolder;
    border-radius: 25px;
    height: 30px;
    width: 70px;
}
#turn2{
    background-color: teal;
    border: solid transparent;
    font-weight: bolder;
    border-radius: 25px;
    height: 30px;
    width: 70px;
}
#result{
    width: 250px;
    color: black;
    border: solid teal;
    border-radius: 10px; 
    background-color: transparent;
    height: 35px;
    padding: 5px;
    font-weight: bolder;
    font-size: 15px;
}
